<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <title>
            sutorikusu
        </title>
    </head>

    <body>
        <form method="POST"> 
            {% csrf_token %}
            <p>FACEBOOK KW</p>
            {{ form.status }}
            <input type = "submit" id = "guegaktau" value = "Tulis" />
        </form>

        {% for j in response %}
            <p>{{ j.status }} {{ j.waktu }} {{ j.tanggal }}</p>
        {% endfor %}
    </body>
</html>